/* 详情页的css */
.de_container{
    margin-top: 20px;
}
.crump_wrap{
    height: 25px;
}
.crump_wrap a{
    margin: 0 10px;
}
.preview_wrap{
    width: 400px;
    height: 590px;
}
.preview_img img{
    width: 398px;
    height: 398px;
    border: 1px solid #ccc;
}
.preview_list{
    position: relative;
    height: 60px;
    margin-top: 60px;
}
.list_item{
    width: 320px;
    height: 60px;
    margin: 0 auto;
}
.list_item li{
    width: 56px;
    height: 56px;
    border: 2px solid transparent;
    float: left;
    margin: 0 2px;
}
.list_item li.current{
    border-color: #c81623;

}
.list_item img{
    width: 56px;
    height: 56px;
}
.arrow_prev,
.arrow_next{
    position: absolute;
    top: 15px;
    width: 22px;
    height: 32px;
}
.arrow_prev{
    left: 0;
    background: url(../img/disabled-prev.png) no-repeat;
}
.arrow_next{
    right: 0;
    background: url(../img/disabled-next.png) no-repeat;
}
.itemInfo_wrap{
    width: 718px;
}
.sku_name{
    font-size: 16px;
    font-weight: 700;
    height: 30px;
}
.news{
    color: #e12228;
    height: 32px;
}
.summary dl{
    overflow: hidden;
}
.summary dt,
.summary dd{
    float: left;

}
.summary dt{
    width: 60px;
    padding-left: 10px;
    line-height: 36px;
}
.summary_price,
.summary_promotion{
    padding: 10px 0;
    background-color: #fee8eb;
    position: relative;
}
.summary_price a{
    color: #c81623;
}
.price{
    font-size: 24px;
    color: #e12228;
}
.remark{
    position: absolute;
    right: 10px;
    top: 20px;
}
.summary_promotion{
    padding-top: 0;
}
.summary_promotion em{
    display: inline-block;
    width: 40px;
    height: 22px;
    background-color: #c81623;
    text-align: center;
    line-height: 22px;
    color: #fff;
}
.summary_promotion dd{
    width: 450px;
    line-height: 33px;
}
.summary_support dd{
    line-height: 36px;   
}
.choose_color a{
    display: inline-block;
    width: 80px;
    height: 41px;
    background-color: #f7f7f7;
    border: 1px solid #ededed;
    text-align: center;
    line-height: 41px;
}
.choose_color a.current,
.choose_version a.current,
.choose_type a.current{
    border-color: #c81623;
}
.choose_version{
    padding: 10px 0;
}
.choose_version a,
.choose_type a {
    display: inline-block;
    height: 32px;
    padding: 0 12px;
    background-color: #f7f7f7;
    border: 1px solid #ededed;
    text-align: center;
    line-height: 32px;
}
.choose_btns{
    margin-top: 20px;
}
.choose_amount{
    position: relative;
    float: left;
    width: 50px;
    height: 46px;
}
.choose_amount input{
    width: 33px;
    height: 44px;
    border: 1px solid #ccc;
    text-align: center;
}
.plus, 
.subtract{
    position: absolute;
    width: 15px;
    height: 22px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    text-align: center;
    line-height: 22px;
}
.plus{
    top: 0;
    right: 0;
}
.subtract{
    bottom: 0;
    right: 0;
    /* 鼠标禁止样式 */
    cursor: not-allowed;
}
.addcart{
    float: left;
    width: 142px;
    height: 46px;
    background-color: #c81623;
    text-align: center;
    line-height: 46px;
    font-size: 18px;
    color: #fff;
    margin-left: 10px;
    font-weight: 700;
}
.product_detail{
    margin-bottom: 50px;
}
.aside{
    width: 208px;
    border: 1px solid #ccc;
    height: 1000px;
}
.tab_list{
    overflow: hidden;
    height: 34px;
}
/* 把背景颜色都给li */
.tab_list li{
    float: left;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
    height: 33px;
    text-align: center;
    line-height: 33px;
}
/* 鼠标单击li变化样式 背景变白色 去掉下边框 文字变颜色 */
.first_tab{
    width: 104px;
}
.tab_list .current{
    background-color: #fff;
    border-bottom: 0;
    color: #c81623;
}
.second_tab{
    width: 103px;
    border-left: 1px solid #ccc;
}
.tab_con{
    padding: 0 10px;  
}
.tab_con li{
    border-bottom: 1px solid #ccc;
}
/* 超出的文字省略号显示 */
.tab_con li h5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
}
.aside_price{
    font-weight: 700;
    margin: 10px;
}
.aside_addcart{
    display: block;
    width: 88px;
    height: 26px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    margin: 10px auto;
    text-align: center;
    line-height: 26px;
}
.detail{
    width: 978px;
    /* 一会再删 */
}
.detail_tab_list{
    height: 39px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.detail_tab_list li{
    height: 39px;
    line-height: 39px;
    padding: 0 20px;
    text-align: center;
    float: left;
    cursor: pointer;
}
.detail_tab_list .current{
    background-color: #c81623;
    color: #fff;
}
.item_info{
    padding: 20px 0 0 20px;
}
.more{
    float: right;
    font-weight: 700;
    font-family: 'icomoon';
}